body {
    margin: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}


/* ---- HEADER ----- */
.header {
    background-color: #1f2937;
    color: white;
    height: 500px;
    padding: 24px 10%;
}
    /* --- top --- */
    .menu {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 24px;
        color: #f9faf8;
    }

    .menu-links {
        font-size: 18px;
        color: #e5e7eb;
        display: flex;
        gap: 20px;
    }

    ul {
        margin: 0;
        padding: 0;

        display: flex;
        gap: 20px;
    }

    /* --- hero --- */
    .hero-content-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
        border: 2px solid red;
    }

    .hero-title {
        font-size: 48px;
        font-weight: bold;
        color: #f9faf8;
    }



/* ---- INFO ---- */
.section-info {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-cards {
    display: flex;
    flex-direction: row;
}

/* ---- QUOTE ---- */
.section-quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
}

.quote {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote-text {
    font-size: 24px;
    font-style: italic;
}
.quote-author {
    text-align: right;
    font-weight: bold;
}

/* ---- ACTION ---- */
.section-action {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    background-color: #3882f6;
    padding: 24px 96px;
    
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 48px;
    
}

/* ---- FOOTER ---- */
.footer {
    background-color: #1f2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 5px;
    padding: 5px 25px;
}



/* * {border: 2px solid red;} */